__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

.venv/
venv/
ENV/
env/

.pytest_cache/
.coverage
coverage.xml
htmlcov/

*.log
jmeter.log

.DS_Store
Thumbs.db
.vscode/
.idea/

*.tar
docker-data/
docker-volumes/

jenkins-agent-key*
*.pem
*.key
*.pub

.scannerwork/
target/
build/
dist/

*~
*.swp
*.bak

*.scss
*.less

bower.json
.bower.json
bower_components/

font-awesome*